.file-input {
  display: none !important;
}

.file-container {
  margin: 20px;
}

.file-container label {
  font-size: 22px;
}

.file-selector {
  cursor: pointer;
  background-color: aliceblue;
  padding: 50px;
  width: 240px;
  border-style: dotted;
  text-align: center;
}

.file-selector svg {
  font-size: 50px;
}

.preview-row {
  padding: 12px;
  margin-top: 12px;
  width: 325px;
  background-color: aliceblue;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.preview-row .file {
  display: flex;
  justify-content: space-between;
}

.file-preview svg {
  font-size: 30px;
}
